/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
}

/* Estilos específicos para la página de bienvenida */
.container-welcome {
    text-align: center;
}

/* Estilos específicos para el formulario de inicio de sesión */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
